@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yrsa:wght@300&display=swap');
   

   :root {
       --font1: Verdana, Geneva, Tahoma, sans-serif;
       --font2: font-family: 'Lobster', cursive;
       --font3: font-family: 'Yrsa', serif;
 }

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    font-family: var(--font1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
}

header > p {
    padding-bottom: 50px;
}

a {
    color:  white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 40px;    
    font-size: 2.5vw;
}

}
section.normal {
    background-color: rgb(255, 255, 255);
    color: black;
}

section.especial  {
    background-color: rgba(31, 31, 31, 0.849);
    color:  white;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.74);
    background-attachment: fixed;
}

section.especial > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(12, 12, 12, 0.288);
}

section#img01 {
    background-image: url(src/imagens/background001.jpg);
    background-position: right center; 
    background-size: cover;
}

section#img02 {
     background-image: url(src/imagens/background002.jpg);
     background-size: cover;
}
footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;

}